<section class="main"
         *ngIf="todos.length > 0">

  <ul class="todo-list">

    <li *ngFor="let todo of todos"
        [class.completed]="todo.complete">

      <todo-list-item [todo]="todo"
                      (toggleComplete)="onToggleComplete($event)"
                      (remove)="onRemove($event)">

      </todo-list-item>

    </li>

  </ul>

</section>

