<div class="view">

  <input class="toggle"
         type="checkbox"
         (click)="toggleComplete($event)"
         [checked]="todo.complete">

  <label>
    {{todo.title}}
  </label>

  <button class="destroy"
          (click)="remove($event)">

  </button>

</div>

