<section class="todoapp">

  <app-todo-list-header (add)="onAdd($event)">

  </app-todo-list-header>

  <app-todo-list (toggleComplete)="onToggleComplete($event)"
                 (remove)="onRemove($event)"
                 [todos]="todos" >

  </app-todo-list>

  <footer class="footer"
          *ngIf="todos.length > 0"  >

    <span class="todo-count">
      <strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left
    </span>

  </footer>

</section>
